Task <br>
Need to create a file y_test file-based x_train и y_train, which will predict a new target value 
based on predictors x_test the relationship between  x_train и y_train, where y_train - the target value

In [5]:
#libs
import pandas  as pd
import numpy as np

In [2]:
pr1 = pd.read_csv("X_train.csv", header=None)
pr1.columns = ["x1", "x2", "x3"] #we have three dependent variables. let's build a regression model
pr1.head()

       x1      x2      x3
0  2.9807  2.1292  2.5241
1  4.9783  2.2740  1.7339
2  3.3480  3.9051  1.4519
3  4.6460  0.9662  1.4129
4  1.9971  3.7330  4.7144

In [4]:
pr1.describe() #Analisis of variables

               x1          x2          x3
count  200.000000  200.000000  200.000000
mean     2.669533    2.387538    2.610687
std      1.465629    1.461363    1.480578
min      0.010200    0.024300    0.007100
25%      1.400275    1.075400    1.418750
50%      2.842950    2.314650    2.612950
75%      3.977025    3.676800    3.894550
max      4.984300    4.997200    4.993400

In [3]:
y1 = pd.read_csv("y_train.csv", header=None)
y1.columns = ["y"] #it is obvious that we have 4 arrays of data, or vectors, that are connected with each other. 
# If we assume that we are dealing with linear regression, the expression will be fair y =A + Bx1 + Cx2 + Dx3, 
# find А, В, С, D, constants for model building
y1.head()

         y
0   9.4953
1  19.0133
2  17.6209
3  21.1422
4   3.1508

Find the dependence using this system of equations
<img src="rege.JPG">

In [6]:
matrix = pd.DataFrame( columns = ["x1", "x2", "x3", "x1x2", "x1x3", "x2x3", "x1^2", "x2^2", "x3^2", "y", "x1y","x2y", "x3y"] ) 
matrix["x1x2"] = pr1["x1"] * pr1["x2"]
matrix["x1x3"] = pr1["x1"] * pr1["x3"]
matrix["x2x3"] = pr1["x2"] * pr1["x3"]
matrix["x1"] = pr1["x1"]
matrix["x2"] = pr1["x2"]
matrix["x3"] = pr1["x3"]
matrix["x1^2"] = pr1["x1"] * pr1["x1"]
matrix["x2^2"] = pr1["x2"] * pr1["x2"]
matrix["x3^2"] = pr1["x3"] * pr1["x3"]
matrix["y"] = y1["y"]
matrix["x1y"] = pr1["x1"] * y1["y"]
matrix["x2y"] = pr1["x2"] * y1["y"]
matrix["x3y"] = pr1["x3"] * y1["y"]
sums = matrix.sum(axis=None)

In [9]:
matrix.head()

,x1,x2,x3,x1x2,x1x3,x2x3,x1^2,x2^2,x3^2,y,x1y,x2y,x3y
0,2.9807,2.1292,2.5241,6.346506,7.523585,5.374314,8.884572,4.533493,6.371081,9.4953,28.302641,20.217393,23.967087
1,4.9783,2.2740,1.7339,11.320654,8.631874,3.942889,24.783471,5.171076,3.006409,19.0133,94.653911,43.236244,32.967161
2,3.3480,3.9051,1.4519,13.074275,4.860961,5.669815,11.209104,15.249806,2.108014,17.6209,58.994773,68.811377,25.583785
3,4.6460,0.9662,1.4129,4.488965,6.564333,1.365144,21.585316,0.933542,1.996286,21.1422,98.226661,20.427594,29.871814
4,1.9971,3.7330,4.7144,7.455174,9.415128,17.598855,3.988408,13.935289,22.225567,3.1508,6.292463,11.761936,14.854132

In [8]:
sums

x1       533.906700
x2       477.507500
x3       522.137300
x1x2    1219.957405
x1x3    1343.580107
x2x3    1219.957261
x1^2    1852.747376
x2^2    1565.047687
x3^2    1799.366934
y       1999.407700
x1y     7290.826809
x2y     5135.266643
x3y     4096.837325
dtype: float64

In [18]:
d = {'1':[200, sums['x1'], sums['x2'], sums['x3']], '2':[sums['x1'], sums['x1^2'], sums['x1x2'], sums['x1x3']],
     '3':[sums['x2'], sums['x1x2'], sums['x2^2'], sums['x2x3']], '4':[sums['x3'], sums['x1x3'], sums['x2x3'], sums['x3^2']]}
first_argument = pd.DataFrame(data=d) # Compute variable`s matrix
xsumm = np.linalg.inv(first_argument)# Compute the (multiplicative) inverse of a matrix with var`s sums.

In [11]:
first_argument

          1            2            3            4
0  200.0000   533.906700   477.507500   522.137300
1  533.9067  1852.747376  1219.957405  1343.580107
2  477.5075  1219.957405  1565.047687  1219.957261
3  522.1373  1343.580107  1219.957261  1799.366934

In [17]:
xsumm

array([[ 0.06256319, -0.00802008, -0.00711228, -0.00734385],
       [-0.00802008,  0.00241682,  0.00033019,  0.00029876],
       [-0.00711228,  0.00033019,  0.00240722,  0.0001852 ],
       [-0.00734385,  0.00029876,  0.0001852 ,  0.00233813]])

In [12]:
d2 = {'1':[sums['y'], sums['x1y'], sums['x2y'], sums['x3y']]} #Compute constant`s matrixs
second_argument = pd.DataFrame(data=d2)
xysumm = second_argument.as_matrix()

In [19]:
second_argument

             1
0  1999.407700
1  7290.826809
2  5135.266643
3  4096.837325

In [16]:
Consts = np.dot(xsumm , xysumm)
Consts # found coefficients of depend between target and instrumental variables

array([[ 0.00631902],
       [ 4.50475525],
       [ 1.30744981],
       [-1.97513605]])

In [20]:
A = float(Consts[0])
B = float(Consts[1])
C = float(Consts[2])
D = float(Consts[3]) #name of constants

Found regression equation:<br>
y = 0,006+4,5*X1+1,3*X2-1,98*X3

In [21]:
pr2 = pd.read_csv("X_test.csv", header=None) # download predictors for new target value
pr2.columns = ["x1", "x2", "x3"]

In [22]:
pr2.head()

       x1      x2      x3
0  0.9804  0.8532  1.9425
1  0.0791  2.4706  0.3026
2  2.1718  4.2313  3.8934
3  3.7795  1.2717  0.0417
4  2.0173  3.8583  3.1707

In [ ]:
y = pd.DataFrame( columns = ["y"] )
y['y'] = A + B*pr2["x1"] + C*pr2["x2"] + D*pr2["x3"] #predicted new data with regression equation
y.columns = [None]
y.to_csv("y_test.csv", sep='\t', encoding='utf-8') #recorded in the file
y

In [4]:
y

          NaN
0    1.701595
1    2.995155
2    7.631964
3   18.612362
4    7.875732
5   11.297443
6   10.295238
7   17.449726
8   19.397626
9    1.712494
10  10.040661
11  21.661921
12   5.387681
13  14.966682
14   3.315129
15  16.907087
16   5.418005
17   7.271441
18  19.685099
19   0.972014
20  -6.117564
21   2.888426
22  -2.561027
23   2.332373
24  10.127461
25   0.974138
26  -2.191531
27   0.488545
28  19.869814
29   3.613174
..        ...
70  15.712411
71  10.400657
72   6.589575
73  22.005640
74   6.639821
75  15.816405
76  11.933864
77  14.517288
78  16.100124
79   4.690392
80   1.942948
81   2.423722
82  -2.316352
83   2.230967
84  -0.052413
85   3.017058
86   3.374553
87  16.341692
88  14.261353
89   8.343390
90  -0.621367
91   9.313379
92  11.947698
93   6.244854
94   4.766217
95   6.518891
96   9.440993
97   9.271072
98  11.511003
99   7.597669

[100 rows x 1 columns]

In [12]:
Check = np.dot(xsumm , first_argument) #checking inventory matrix
Ppp = pd.DataFrame(data=Proverka)
Ppp

              0             1             2             3
0  1.000000e+00  7.105427e-15 -3.552714e-15  0.000000e+00
1  0.000000e+00  1.000000e+00  0.000000e+00  4.440892e-16
2 -1.665335e-16 -4.440892e-16  1.000000e+00 -6.661338e-16
3  2.220446e-16  0.000000e+00  8.881784e-16  1.000000e+00